*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
width: 100%;
height: 550px;
background-color: blue;
}
.header-top{
  width: 100%;
  height: 50px;
  background-color: red;
}
.header-bottom{
  width: 100%;
  height: 500px;
  background-color: orange;
}

.main{
  width: 840px;/*指定しないと横幅いっぱいに広がる*/
  display: flex;
  justify-content: center;
  margin: 0 auto;/*子要素の子要素にもかかる*/
}
.blog{
  width: 960px;
  height: 1400px;
  background-color: limegreen;
  padding-left: 230px;
  padding-right: 230px;
}
.sidebar{/*中央の要素は外側の子要素*/
  width: 500px;
  height: 1400px;
  background-color: green;
}

.footer{
  width: 100%;
  height: 100px;
  background-color: blue;
}